<?xml version="1.0"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IpAddressClient>127.0.0.1</IpAddressClient>
  <IPAddressServer />
  <PortClient>8000</PortClient>
  <PortServer>0</PortServer>
  <SoundInputDeviceNameClient>Microfone do Headset (Razer Aud</SoundInputDeviceNameClient>
  <SoundOutputDeviceNameClient>None</SoundOutputDeviceNameClient>
  <SoundInputDeviceNameServer>Microfone do Headset (Razer Aud</SoundInputDeviceNameServer>
  <SoundOutputDeviceNameServer>Fone de ouvido do headset (Raze</SoundOutputDeviceNameServer>
  <SamplesPerSecondClient>5000</SamplesPerSecondClient>
  <BitsPerSampleClient>16</BitsPerSampleClient>
  <ChannelsClient>1</ChannelsClient>
  <SamplesPerSecondServer>8000</SamplesPerSecondServer>
  <BitsPerSampleServer>16</BitsPerSampleServer>
  <ChannelsServer>1</ChannelsServer>
  <UseJitterBufferClientRecording>true</UseJitterBufferClientRecording>
  <UseJitterBufferServerRecording>true</UseJitterBufferServerRecording>
  <JitterBufferCountServer>20</JitterBufferCountServer>
  <JitterBufferCountClient>20</JitterBufferCountClient>
  <FileName />
  <LoopFile>false</LoopFile>
  <MuteClientPlaying>false</MuteClientPlaying>
  <ServerNoSpeakAll>false</ServerNoSpeakAll>
  <ClientNoSpeakAll>true</ClientNoSpeakAll>
  <MuteServerListen>false</MuteServerListen>
</Configuration>